<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @care_instruction.description %>
</p>


<%= link_to 'Edit', edit_care_instruction_path(@care_instruction) %> |
<%= link_to 'Back', care_instructions_path %>
