<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @construction.description %>
</p>


<%= link_to 'Edit', edit_construction_path(@construction) %> |
<%= link_to 'Back', constructions_path %>
